name: Build Android Manual
on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: master

      - uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"

      - name: Flutter action
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true


      - name: Bypass Signing Config
        run: |
          cd simple_live_app/android/app
          # 将 "signingConfig signingConfigs.release" 替换为 "signingConfig signingConfigs.debug"
          sed -i 's/signingConfig signingConfigs.release/signingConfig signingConfigs.debug/g' build.gradle
          # 打印一下确认修改成功（在日志里应该能看到 signingConfigs.debug）
          grep "signingConfig signingConfigs" build.gradle

      - name: Restore packages
        run: |
          cd simple_live_app
          flutter pub get

      - name: Build APK
        run: |
          cd simple_live_app

          flutter build apk --release --split-per-abi

      - name: Upload APK to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: |
            simple_live_app/build/app/outputs/flutter-apk/*.apk
