name: Build Android Manual
on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: master

      - uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"

      # 使用 Stable 渠道，它是包含 intl 0.20.2 的
      - name: Flutter action
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Generate Dummy Keystore
        run: |
          cd simple_live_app/android
          keytool -genkey -v -keystore keystore.jks -keyalg RSA -keysize 2048 -validity 10000 -alias key -storepass 123456 -keypass 123456 -dname "CN=Test, OU=Test, O=Test, L=Test, S=Test, C=US"
          echo "storePassword=123456" > key.properties
          echo "keyPassword=123456" >> key.properties
          echo "keyAlias=key" >> key.properties
          echo "storeFile=keystore.jks" >> key.properties

      # 直接拉取依赖，不要再手动改版本号了
      - name: Restore packages
        run: |
          cd simple_live_app
          flutter pub get

      - name: Build APK
        run: |
          cd simple_live_app
          flutter build apk --release --split-per-abi

      - name: Upload APK to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: |
            simple_live_app/build/app/outputs/flutter-apk/*.apk
